#searchSection{
    border: solid blue;
    border-style: groove;
    border-radius: 7px;
    width: 500px;
    padding: 25px 25px 25px 25px;
}

input{
    border-radius: 7px;
    border: solid blue;
}

label{
    font-weight: bold;
}

#searchbtn{
    border-radius: 7px;
    margin-left: 10px;
    background-color: rgba(9, 247, 255, 0.3);
    border: solid rgb(0, 0, 0);
}